nxt-gb.lst
status
texlive.path

# px test suite
bin/px/t/orc
bin/px/t/srv
bin/px/t/xsrv

# Executables; be specific so, e.g., sx ignore doesn't make whole subdir ignored
bin/ax/ax
bin/ax/atfdatax
bin/dx/dxx/dcx
bin/dx/dxx/dx
bin/dx/odo/odo
bin/dx/osh/osh
bin/gx/gx
bin/gx/siglangx
bin/jx/jx
bin/lx/lx
bin/mx/mx
bin/nx/nx
bin/nx/nxtokx
bin/ox/oid
bin/qx/cat/qcatx
bin/qx/cbd/qcbdx
bin/qx/dbg/qdbgx
bin/qx/gdf/qgdfx
bin/qx/lem/qlemx
bin/qx/qxx/qx
bin/qx/tra/qtrax
bin/qx/txt/qtxtx
bin/sx/csldist
bin/sx/sig2asl
bin/sx/slix
bin/sx/slx
bin/sx/sx
bin/sx/tok2asl
bin/tx/tx
bin/px/cbditem
bin/px/issx
bin/px/px
bin/px/wsigx
bin/px/xfragx
bin/px/ice/ce/cex
bin/px/ice/ce/cextfx
bin/px/ice/pg/pdx
bin/px/ice/pg/pgcsix
bin/px/ice/pg/pgux
bin/px/ice/pg/pgx
bin/px/ice/pg/ptoqtestx
bin/px/ice/pg/showcsix
bin/px/ice/pg/xisperiodsx
bin/px/ice/wm/wmx
bin/px/ice/wm/wmapx
bin/px/ice/wm/wmdbgx
bin/px/isp/ispx
bin/px/isp/ispmpx
bin/px/isp/ispox
bin/px/isp/ispsortx
bin/px/isp/isp-ce-HTML.xsl
bin/tx/tidtextx
bin/tx/tunquotex
bin/wx/wx
bin/wx/p4url
bin/xx/concord
bin/xx/cunhtmlx
bin/xx/dbix
bin/xx/dbx
bin/xx/fonts/oin2lig
bin/xx/fonts/showttfx
bin/xx/ivd2oiv
bin/xx/jsmapx
bin/xx/lem/bgmx
bin/xx/lem/lemx
bin/xx/lem/ngmx
bin/xx/lem/numtokx
bin/xx/lem/postntokx
bin/xx/oraccopt
bin/xx/osort/osort
bin/xx/pqxpand
bin/xx/rnv/rnv
bin/xx/tis/cbdex
bin/xx/tis/cbdikey
bin/xx/tis/tisdiv
bin/xx/tis/tisify
bin/xx/tis/tok2tis
bin/xx/tis/tokexp
bin/xx/tis/tokex
bin/xx/tis/tokix
bin/xx/tis/tokpct
bin/xx/tis/tokpg
bin/xx/tis/tokx
bin/xx/tis/vidx
bin/xx/tlitsig
bin/xx/xisdb
bin/xx/xmlify
bin/xx/wrapper/xmd2htm
bin/xx/wrapper/xtf2cun
bin/xx/wrapper/xtf2prf
bin/xx/wrapper/xtf2tei
bin/xx/wrapper/xtf2txh
bin/xx/wrapper/xsltx
bin/zx/catx
bin/zx/expat-identity
bin/zx/gdlx
bin/zx/repx
bin/zx/rocox
bin/zx/utr
bin/zx/xmlfilter
msc/lex/lex-collapse-refs
msc/prj/cdli/cdliperiodx
msc/prj/cdli/cdlixtfx
msc/sys/proj-from-conf.sh

# MacOS convenience link to external library header
include/pcre2.h

# Gperf derivatives
atactions.c
builtins.c
cbdpos.c
cbdrws.c
cbdtags.c
cgiopts.c
iomethod.c
idactions.c
ikeysub.c
ispargs.c
lang_atf.c
lang_core.c
lang_mode.c
langmask.c
langrtl.c
ne.c
noset.c
numvmap.c
nxt.c
# in bin/nx nxt.g is generated from nxt.base by nxt.sh; gc.g by gc.sh
nxt.g
nw.c
gc.g
gc.c
gw.c
na.c
nc.c
nwmap.c
numword.c
ofpdefs.c
oid_domain.c
oid_type.c
osh_commands.c
p4projects.c
pqx_h_tab.c
progtab.c
propmask.c
qpnnames.c
qsoption.c
selections.c
setoks.c
sll_signlist.c
sllext.c
sn_alias.c
statnames.c
tokflags.c
urlkeys.c
whatfuncs.c
msc/prj/cdli/periods.c
bin/ax/ax_check.c
bin/px/ice/pg/periodmap.c
bin/px/pxargs.c
bin/xx/cun/perfnt.c

# .in derivatives
mac-config.sh
oraccenv.sh
bin/dx/dxx/dx-install.sh
bin/dx/odo/odo-build.sh
bin/dx/odo/odo-cvs-checkout.sh
bin/dx/odo/odo-cvs-refresh.sh
bin/dx/odo/odo-dir-links.sh
bin/dx/odo/odo-environment.sh
bin/dx/osh/osh.c
bin/gx/sigx
bin/ox/cbd-oid-tab.xsl
bin/ox/oidx
bin/px/ice/pg/pd.c
bin/px/ice/pg/pg2.c
bin/px/ice/pg/ptoq.c
bin/px/ice/pg/sortinfo.c
bin/px/isp/isp_htmd.c
bin/px/p4-xmd-div.xsl
bin/px/pui/p4article.c
bin/px/pui/p4back.c
bin/px/pui/p4noitem.c
bin/px/pui/p4nolang.c
bin/px/pui/p4noproject.c
bin/px/pui/p4nowhat.c
bin/px/pui/p4oracc.c
bin/px/pui/p4searchbar.c
bin/px/pui/p4whatnot.c
bin/px/pui/puifiles.c
bin/px/px_images.c
bin/px/pxsrch.sh
bin/px/sig.c
bin/px/wsigx.c
bin/qx/qindex.sh
bin/qx/qindexall.sh
bin/qx/qxxall.sh
bin/sx/sxweb/sxweb-signs.xsl
bin/sx/sxweb/sxweb-page-o-signs.xsl
bin/wx/oai.c
bin/wx/oid.c
bin/wx/or_builtins.c
bin/wx/or_common.c
bin/wx/or_gdf.c
bin/wx/or_pqx.c
bin/wx/or_response.c
bin/wx/or_stable_uris.c
bin/wx/oracc-server.c
bin/wx/p3.c
bin/wx/pqx_map.c
bin/wx/px.c
bin/wx/sl.c
bin/wx/wx.c
bin/wx/wx_log.c
bin/wx/xff.c
bin/wx/xmlrpc.c
bin/xx/cun/cunx
bin/xx/fonts/ofpx
bin/xx/tis/tisdiv.c
bin/xx/fonts/oslfiles.sh
bin/xx/wrapper/p4-g2-gdl-HTML.xsl
bin/xx/wrapper/p4-g2-xtf-HTML.xsl
bin/xx/wrapper/wrapper-links.sh
bin/zx/xmdx
lib/gvl/oiv.c
lib/l3/bigrams/bigrams.c
lib/l3/bigrams/collos.c
lib/l3/prop/props_auto.c
lib/l3/prop/props_load.c
lib/l3/xli/xli_sux.c
fname.c
slix.c
mktablst
seq2c
xpd.c
lib/xpd/xpd.xsl
msc/adm/oadm
msc/adm/oadmsudo
msc/adm/oadmwrapper
msc/fonts/CuneiformClassic-final.def
msc/fonts/Oracc-LAK.def
msc/fonts/Oracc-NA-Outline.def
msc/fonts/Oracc-Noto-SansCuneiform.def
msc/fonts/Oracc-OBF-Regular.def
msc/fonts/Oracc-RSP.def
msc/fonts/Oracc-gudea.def
msc/lex/lex-provides-xi.xsl
msc/lex/lex-sign-lookup.xsl
msc/lex/lex-word-data.xsl
msc/oscx/osh.c
msc/oscx/odo
msc/otf/odfmanager.plx
msc/prj/cdli/imgp4
msc/prj/osl/osl-prepare-update.sh
msc/prj/osl/osl-sx-slix.sh
msc/prj/osl/osl-user-page.sh
msc/prj/osl/osl-user-site.sh
msc/prj/osl/oracc_builds.c
msc/tex/o25/mk-oracctex.sh
msc/tex/o25/oracctex

# rnc derivatives
*.rng
ns-*.h
lib/rnc/xtf.c
lib/rnc/*.c

# msc/oscx derivatives
oscx-server-env.sh
oraxx

# Bison derivatives
*.output
*.tab.c
*.tab.h

# Flex derivatives
*.lex.c

# Generated files
oracc.sed

# temp, junk, and backup files
msc/fonts/*.backup
msc/fonts/*.backup/*
msc/fonts/*.25*.ttf
01tmp
junk
old
*~
*.bak
*.dump
*.log
configure.scan
*.tok
*.tis
*.dbi
*.dbh
*.csi

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Makefile
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache/
compile
COPYING
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
INSTALL
install-sh
lib/.deps/
lib/Makefile
lib/Makefile.in
libtool
ltmain.sh
m4/
missing
stamp-h1
.deps
.libs
.dirstamp
