@font-face {
   font-family: 'Oracc PC';
   src: url('/fonts/PCSL.ttf');
}

@font-face {
   font-family: 'Oracc UET2';
   src: url('/fonts/Oracc-UET2.ttf');
}

@font-face {
   font-family: 'Oracc Noto SansCuneiform';
   src: url('/fonts/Oracc-Noto-SansCuneiform.ttf');
}

@font-face {
   font-family: 'Oracc OBFreie Regular';
   src: url('/fonts/Oracc-OBF-Regular.ttf');
}

@font-face {
   font-family: 'Oracc Gudea';
   src: url('/fonts/Oracc-gudea.ttf');
}

@font-face {
   font-family: 'Oracc RSP';
   src: url('/fonts/Oracc-RSP.ttf');
}

@font-face {
   font-family: 'Oracc LAK';
   src: url('/fonts/Oracc-LAK.ttf');
}

@font-face {
   font-family: 'Cuneiform Classic';
   src: url('/fonts/CuneiformClassic-final.ttf');
}

@font-face {
   font-family: 'Nabuninuaihsus';
   src: url('/fonts/Nabuninuaihsus.ttf');
}

@font-face {
   font-family: 'Oracc NA Outline';
   src: url('/fonts/Oracc-NA-Outline.ttf');
}

.ofs-100 { font-size: 100%; }

.ofs-120 { font-size: 120%; }

.ofs-150 { font-size: 150%; }

.ofs-200 { font-size: 200%; }
ofs
.ofs-300 { font-size: 300%; }

.ofs-feat-r { text-align: right; padding-right: 1em; }

.osl {
   font-family: "Oracc Noto SansCuneiform";
}

.ofs-cc {
   font-family: "Cuneiform Classic";
}

.ofs-gudea {
   font-family: "Oracc Gudea";
   font-feature-settings: "ss01", "ss02", "cv01";
}

.ofs-lak {
    font-family: "Oracc LAK";
    font-variant-ligatures: common-ligatures;
}

.ofs-nao {
    font-family: "Oracc NA Outline";
    font-variant-ligatures: common-ligatures;
}

.ofs-nni {
    font-family: "Nabuninuaihsus";
    font-variant-ligatures: common-ligatures;
}

.ofs-noto {
    font-family: "Oracc Noto SansCuneiform";
    font-variant-ligatures: common-ligatures;
}

.ofs-oobf {
    font-family: "Oracc OBFreie Regular";
    font-variant-ligatures: common-ligatures;
}

.ofs-pc {
    font-family: "Oracc PC";
    font-variant-ligatures: common-ligatures;
}

.ofs-u2 {
    font-family: "Oracc UET2";
    font-variant-ligatures: common-ligatures;
}

.ofs-rsp {
    font-family: "Oracc RSP";
    font-variant-ligatures: common-ligatures;
}

.ss01 {
    font-feature-settings: "ss01";
}

.ss02 {
    font-feature-settings: "ss02";
}

.ss03 {
    font-feature-settings: "ss03";
}

.ss04 {
    font-feature-settings: "ss04";
}

.ss20 {
    font-feature-settings: "ss20";
}

.ss012 {
    font-feature-settings: "ss01", "ss02";
}

.early {
    font-feature-settings: "ss01";
}

.gudea {
    font-family: "Oracc Noto SansCuneiform";
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "ss01", "ss02", "cv01";    
}

.middle {
    font-feature-settings: "ss01", "ss02";
}

.late {
    font-feature-settings: "ss01", "ss02", "ss03";
}
