@font-face {
   font-family: 'Oracc PC';
   src: url('/pcsl/fonts/PC-all.ttf');
}

@font-face {
   font-family: 'Oracc Noto SansCuneiform';
   src: url('/fonts/Oracc-Noto-SansCuneiform.ttf');
}

@font-face {
   font-family: 'Oracc OBFreie Regular';
   src: url('/fonts/Oracc-OBF-Regular.ttf');
}

@font-face {
   font-family: 'Oracc Gudea';
   src: url('/fonts/Oracc-gudea.ttf');
}

@font-face {
   font-family: 'Oracc RSP';
   src: url('/fonts/Oracc-RSP.ttf');
}

@font-face {
   font-family: 'Oracc LAK';
   src: url('/fonts/Oracc-LAK.ttf');
}

@font-face {
   font-family: 'Cuneiform Classic';
   src: url('/fonts/CuneiformClassic-final.ttf');
}

@font-face {
   font-family: 'Oracc NA Outline';
   src: url('/fonts/Oracc-NA-Outline.ttf');
}

.ofs-100 { font-size: 100%; }

.ofs-120 { font-size: 120%; }

.ofs-150 { font-size: 150%; }

.ofs-200 { font-size: 200%; }

.ofs-feat-r { text-align: right; padding-right: 1em; }

.osl {
   font-family: "Oracc Noto SansCuneiform";
}

.ofs-cc {
   font-family: "Cuneiform Classic";
}

.ofs-gudea {
   font-family: "Oracc Gudea";
}

.ofs-lak {
   font-family: "Oracc LAK";
}

.ofs-nao {
   font-family: "Oracc NA Outline";
}

.ofs-noto {
   font-family: "Oracc Noto SansCuneiform";
}

.ofs-oobf {
   font-family: "Oracc OBFreie Regular";
}

.ofs-pc {
    font-family: "Oracc PC";
}

.ofs-rsp {
   font-family: "Oracc RSP";
}

.ss01 {
    font-feature-settings: "ss01";
}

.ss02 {
    font-feature-settings: "ss02";
}

.ss012 {
    font-feature-settings: "ss01", "ss02";
}

.salt1 {
    font-feature-settings: "salt" 1;
}

.salt2 {
    font-feature-settings: "salt" 2;
}

.salt3 {
    font-feature-settings: "salt" 3;
}

.salt4 {
    font-feature-settings: "salt" 4;
}

.cv01 {
    font-feature-settings: "cv01";
}

.cv02 {
    font-feature-settings: "cv02";
}

.early {
    font-feature-settings: "ss01";
}

.gudea {
    font-feature-settings: "ss01", "ss02";
}

.middle {
    font-feature-settings: "ss01", "ss02";
}

.late {
    font-feature-settings: "ss01", "ss02", "ss03";
}
