@font-face {
   font-family: 'Oracc PC';
   src: url('/fonts/PCSL.ttf');
}

@font-face {
   font-family: 'Oracc UET2';
   src: url('/fonts/Oracc-UET2.ttf');
}

@font-face {
   font-family: 'Oracc Noto SansCuneiform';
   src: url('/fonts/Oracc-Noto-SansCuneiform.ttf');
}

@font-face {
   font-family: 'Oracc OBFreie Regular';
   src: url('/fonts/Oracc-OBF-Regular.ttf');
}

@font-face {
   font-family: 'Oracc Gudea';
   src: url('/fonts/Oracc-gudea.ttf');
}

@font-face {
   font-family: 'Oracc Gudea Monumental';
   src: url('/fonts/Gudea-bold.ttf');
}

@font-face {
   font-family: 'Oracc RSP';
   src: url('/fonts/Oracc-RSP.ttf');
}

@font-face {
   font-family: 'Oracc LAK';
   src: url('/fonts/Oracc-LAK.ttf');
}

@font-face {
   font-family: 'Cuneiform Classic';
   src: url('/fonts/CuneiformClassic-final.ttf');
}

@font-face {
   font-family: 'Nabuninuaihsus';
   src: url('/fonts/Nabuninuaihsus.ttf');
}

@font-face {
   font-family: 'Oracc NA Outline';
   src: url('/fonts/Oracc-NA-Outline.ttf');
}

.ofs-100 { font-size: 100%; }

.ofs-120 { font-size: 120%; }

.ofs-150 { font-size: 150%; }

.ofs-200 { font-size: 200%; }

.ofs-300 { font-size: 300%; }

.ofs-feat-r { text-align: right; padding-right: 1em; }

.osl {
   font-family: "Oracc Noto SansCuneiform";
}

.ofs-cc {
   font-family: "Cuneiform Classic";
}

.ofs-gudea {
   font-family: "Oracc Gudea";
   font-feature-settings: "ss01", "ss02", "cv01";
}

.ofs-gudeamon {
   font-family: "Oracc Gudea Monumental";
}

.ofs-lak {
    font-family: "Oracc LAK";
    font-variant-ligatures: common-ligatures;
}

.ofs-nao {
    font-family: "Oracc NA Outline";
    font-variant-ligatures: common-ligatures;
}

.ofs-nni {
    font-family: "Nabuninuaihsus";
    font-variant-ligatures: common-ligatures;
}

.ofs-noto {
    font-family: "Oracc Noto SansCuneiform";
    font-variant-ligatures: common-ligatures;
}

.ofs-oobf {
    font-family: "Oracc OBFreie Regular";
    font-variant-ligatures: common-ligatures;
}

.ofs-pc {
    font-family: "Oracc PC";
    font-variant-ligatures: common-ligatures;
}

.ofs-u2 {
    font-family: "Oracc UET2";
    font-variant-ligatures: common-ligatures;
}

.ofs-rsp {
    font-family: "Oracc RSP";
    font-variant-ligatures: common-ligatures;
}

.ss01 {
    font-feature-settings: "ss01";
}

.ss02 {
    font-feature-settings: "ss02";
}

.ss03 {
    font-feature-settings: "ss03";
}

.ss04 {
    font-feature-settings: "ss04";
}

.ss20 {
    font-feature-settings: "ss20";
}

.ss012 {
    font-feature-settings: "ss01", "ss02";
}

.early {
    font-feature-settings: "ss01";
}

.gudea {
    font-family: "Oracc Noto SansCuneiform";
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "ss01", "ss02", "cv01";    
}

.middle {
    font-feature-settings: "ss01", "ss02";
}

.late {
    font-feature-settings: "ss01", "ss02", "ss03";
}

.salt1 {
    font-feature-settings: "salt" 1;
}

.salt2 {
    font-feature-settings: "salt" 2;
}

.salt3 {
    font-feature-settings: "salt" 3;
}

.salt4 {
    font-feature-settings: "salt" 4;
}

.salt5 {
    font-feature-settings: "salt" 5;
}

.salt6 {
    font-feature-settings: "salt" 6;
}

.salt7 {
    font-feature-settings: "salt" 7;
}

.salt8 {
    font-feature-settings: "salt" 8;
}

.salt9 {
    font-feature-settings: "salt" 9;
}

.salt10 {
    font-feature-settings: "salt" 10;
}

.salt11 {
    font-feature-settings: "salt" 11;
}

.salt12 {
    font-feature-settings: "salt" 12;
}

.salt13 {
    font-feature-settings: "salt" 13;
}

.salt14 {
    font-feature-settings: "salt" 14;
}

.salt15 {
    font-feature-settings: "salt" 15;
}

.salt16 {
    font-feature-settings: "salt" 16;
}

.salt17 {
    font-feature-settings: "salt" 17;
}

.salt18 {
    font-feature-settings: "salt" 18;
}

.salt19 {
    font-feature-settings: "salt" 19;
}

.salt20 {
    font-feature-settings: "salt" 20;
}

.salt21 {
    font-feature-settings: "salt" 21;
}

.salt22 {
    font-feature-settings: "salt" 22;
}

.salt23 {
    font-feature-settings: "salt" 23;
}

.salt24 {
    font-feature-settings: "salt" 24;
}

.salt25 {
    font-feature-settings: "salt" 25;
}

.salt26 {
    font-feature-settings: "salt" 26;
}

.salt27 {
    font-feature-settings: "salt" 27;
}

.salt28 {
    font-feature-settings: "salt" 28;
}

.salt29 {
    font-feature-settings: "salt" 29;
}

/* .cv01 works for non-.liga characters but '"salt" 1' is needed to
   get .liga.cv01 to display correctly */

.cv01 {    
    font-feature-settings: "cv01", "salt" 1;
}

.cv02 {
    font-feature-settings: "cv02", "salt" 2;
}

.cv03 {
    font-feature-settings: "cv03", "salt" 3;
}

.cv04 {
    font-feature-settings: "cv04", "salt" 4;
}

.cv05 {
    font-feature-settings: "cv05", "salt" 5;
}

.cv06 {
    font-feature-settings: "cv06", "salt" 6;
}
