body.demo { width: 98vw; margin: auto; }

div.grid { display: flex;
	   flex-flow: row wrap;
	   margin: auto;
}

div.test { border-bottom: solid gray 2px; border-right: solid gray 1px;
	   width: 350px;
	   margin-top: 0px;
}

.p3h2 { display: none; }

h1.test { font-size: 100%; background-color: silver; margin-top: 0px; }

h2 { font-size: 100%; padding-left: 3px; }

h2.cuneified { margin-bottom: 0px; }

h3 { font-size: 90%; padding-left: 3px; }

body.demo p { width: 100%; margin-bottom: 10px; }

.demo p { margin: 0px; width: 325px; padding-left: 3px; }

.demo pre { padding-left: 15px; }

iframe { width: 300px; border: none; height: 70px; }

/* 35px per line is a good rule of thumb */

iframe.t01 { height: 140px; }
iframe.t13 { height: 105px; }
iframe.t14 { height: 110px; }
iframe.t15 { height: 110px; }
iframe.t16 { height: 110px; }
iframe.t17 { height: 110px; }
iframe.t18 { height: 110px; }
