#p4CuneifyBar { margin: 10px; }

body { font-family: serif; font-weight: normal; font-size: 1em }
.roman { font-family: serif; font-weight: normal; font-size: 1em; }
    
.broken {
  background-image: url('/breaks.png');
  background-repeat: repeat;
}

.gray { color: gray; }

span.osquare:before { content: "["; }
span.csquare:before { content: "]"; }

.cuneify-label {
    font-size: 70%;
    color: gray;
    margin-bottom: 5px;
    vertical-align: middle;
}

.cuneify-text { width: 99%; 
	      }

.cuneify-line { 
}

.cuneify-content {
		width: 100%;
	      	text-align: justify;
		}

:root {
    --ofs-noto: "Oracc Noto SansCuneiform";
    --ofs-oobf: "Oracc OBFreie Regular";
    --ofs-nao: "Oracc NA Outline";
    --ofs-lak: "Oracc LAK";
    --ofs-pc: "Oracc PC";
    --ofs-rsp: "Oracc RSP";
    --ofs-early:  "ss01";
    --ofs-middle: "ss01", "ss02";
    --ofs-late:   "ss01", "ss02", "ss03";
    --ofs-font: var(--ofs-noto);
    --ofs-mag: 100%;
    --ofs-script: var(--ofs-middle);
}

.cfy-cun {
    font-family: var(--ofs-font);
    font-size: var(--ofs-mag);
    font-feature-settings: var(--ofs-script);
    vertical-align: middle;
}

.cfy-cun.missing { color: #999; }

.cfy-cun a , .cfy-cun a:link[href] { color: black; text-decoration: none; }
.cfy-cun.missing a , .cfy-cun.missing a:link[href] { color: #999; text-decoration: none; }

.cfy-ws {
    padding-left: 2px;
    padding-right: 2px;
}

.cfy-table { }

.cfy-table tr>td { padding-bottom: .5em; }

.cfy-button{
    padding: 3px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 3px;
    background: silver;
    font-size: 12px;    
    line-height: 12px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
}

.cfy-curr { border: solid 2px red; }

.cfy-nao  { cursor: url("nao-an.cur"), auto; }

.cfy-noto { cursor: url("noto-an.cur"), auto; }

.cfy-oobf { cursor: url("oobf-an.cur"), auto; }

/* Cuneify word spacing */
.cfy-wsp { margin-left: .5em; }

/* Cuneify grapheme spacing */
.cfy-gsp { margin-left: .1em; }

/*    cursor: url(ban.cur), auto; */
