@charset "utf-8";

#p4CuneifyBar { margin: 10px; }

#p4CuneifyBar.hide { display: none; }

body { font-family: serif; font-weight: normal; font-size: 1em }
.roman { font-family: serif; font-weight: normal; font-size: 1em; }
    
.broken {
  background-image: url('/breaks.png');
  background-repeat: repeat;
  color: gray;
}

.gray { color: gray; }

.cfy-brack:before { content: attr(data-bracko); color: dimgrey; }
.cfy-brack:after  { content: attr(data-brackc); color: dimgrey; }

span[onclick]:hover { cursor: pointer; }

.cfy-lnum {
    font-size: 70%;
    color: gray;
    margin-bottom: 5px;
    vertical-align: middle;
}

.cuneify-text { width: 99%; 
	      }

.cuneify-line { 
}

.cfy-j-left > .cfy-content p {
    text-align: left;
    text-align-last: left;
}

.cfy-j-spread > .cfy-content p {
    text-align: justify;
    text-align-last: justify;
}

:root {
    --ofs-gudea: "Oracc Gudea";
    --ofs-gudeamon: "Oracc Gudea Monumental";
    --ofs-lak: "Oracc LAK";
    --ofs-nao: "Oracc NA Outline";
    --ofs-nni: "Nabu-Ninua-Ihsus";
    --ofs-noto: "Oracc Noto SansCuneiform";
    --ofs-oobf: "Oracc OBFreie Regular";
    --ofs-pc: "Oracc PC";
    --ofs-rsp: "Oracc RSP";
    --ofs-early:  "ss01";
    --ofs-middle: "ss01", "ss02";
    --ofs-late:   "ss01", "ss02", "ss03";
    --ofs-font: var(--ofs-noto);
    --ofs-ffs: var(--ofs-middle);
    --ofs-mag: 100%;
    --ofs-script: var(--ofs-middle);
    --ffs-ss01: "ss01";
    --rb-w: 2px;
    --rb-c: black;
    --rb-s: solid;
    --rl-w: 1px;
    --rl-c: black;
    --rl-s: solid;
    --rc-w: 1px;
    --rc-c: black;
    --rc-s: solid;
    --cfy-width: 100%;
    --td00: auto;
    --td01: auto;
    --td02: auto;
    --td03: auto;
    --td04: auto;
    --td05: auto;
    --td06: auto;
    --td07: auto;
    --td08: auto;
    --td09: auto;
}

/* cfy-cun is not allowed to use font-feature-settings */
.cfy-cun {
    font-family: var(--ofs-font);
    font-size: var(--ofs-mag);
    vertical-align: middle;
}

.cfy-ffs {
    font-feature-settings: var(--ofs-script);
}

.cfy-mis { color: #666; }
.cfy-gsp { margin-left: .1em; }
.cfy-wsp { margin-left: .5em; }
}

span.cfy-button {
    padding: 3px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 3px;
    background: silver;
    font-size: 12px;    
    line-height: 12px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
}

table.cfy-table { width: var(--cfy-width); }

table.cfy-boxed {
    border-collapse: collapse;
}

.cfy-crule {
    border-collapse: collapse;
}

.cfy-boxed tbody:first-child>tr:first-child>td.cfy-content {
    border-top: var(--rb-w) var(--rb-s) var(--rb-c);
}

.cfy-boxed tbody:last-child>tr:last-child>td.cfy-content {
    border-bottom: var(--rb-w) var(--rb-s) var(--rb-c);
}

.cfy-boxed .cfy-content {
    border-left: var(--rb-w) var(--rb-s) var(--rb-c);
    border-right: var(--rb-w) var(--rb-s) var(--rb-c);
}

.cfy-ruled .cfy-content {
    border-bottom: var(--rl-w) var(--rl-s) var(--rl-c);
}

.cfy-crule .cfy-content {
    border-right: var(--rc-w) var(--rc-s) var(--rc-c);
}

.cfy-crule td:last-child {
    border-right: none;
}

.cfy-curr { border: solid 2px red; }

.cfy-nao  { cursor: url("nao-an.cur"), auto; }

.cfy-noto { cursor: url("noto-an.cur"), auto; }

.cfy-oobf { cursor: url("oobf-an.cur"), auto; }

/*    cursor: url(ban.cur), auto; */

.cfy-j-spread p { text-align: justify; text-align-last: justify; }

span.cfy-pseudo-h { white-space: pre; }
span.cfy-pseudo-h:before { content: " "; }

span.cfy-penult { white-space: pre; }
span.cfy-penult:before { content: " "; }

/* Fake a space for char-spread */
span.cfy-pseudo-s { white-space: pre; }
span.cfy-pseudo-s:before { content: " ";  }

/* Combine pseudo-s and penult */
span.cfy-pseudo-s.cfy-penult { white-space: pre; }
span.cfy-pseudo-s.cfy-penult:before { content: "  ";  }

/* Fake a line-break for ATF ';' */
span.br { white-space: pre; }
span.br:before { content: "\200B\000A\00A0"; }

/* table cell classes */
.td00 { width: var(--td00); }
.td01 { width: var(--td01); }
.td02 { width: var(--td02); }
.td03 { width: var(--td03); }
.td04 { width: var(--td04); }
.td05 { width: var(--td05); }
.td06 { width: var(--td06); }
.td07 { width: var(--td07); }
.td08 { width: var(--td08); }
.td09 { width: var(--td09); }
