/* Structural/State-dependent CSS */

#p4Flex 	{ display: flex; }
#p4Menu 	{ flex: 1 1 15%; }
#p4Content 	{ flex: 1 1 85%; }

#p4Menu.auto { display: none; }

#p4Controls.page .p4items { display: none; }
#p4Controls.item .p4pages { display: none; }

#p4Controls.page #p4ToggleMeta { display: none; }

#p4ToggleMeta { text-align: left; }

#p4PageNav.xmd #p4CeType { display: none; }

#p4SrchResultCount:not(.srch) { display: none; }

/* Formatting CSS */

#p4Banner  { padding-left: 3px; padding-top: 3px; }

#p4Search  { text-align: center; margin-left: 15%; margin-top: -26px; margin-bottom: 26px; }

#p4Controls { text-align: center; margin-left: 15%; padding-bottom: 3px; }

#p4HeadTitle {font-size: 120%; font-family: Verdana, "Trebuchet MS", helvetica, sans-serif; padding: 3px; }

#p4HeadTitle a { color: white; text-decoration: none; }

#p4DropDown { padding-left: 3px; margin-top: -29px; padding-bottom: 3px; }

p	{ margin: 0; padding: 0; }

#p4Icons { width: 15%; text-align: center; display: inline-block; }

.p4icon { background-color: white; 
	  height: 18px; width: 18px;
	  border: 2px solid silver; 
	  padding: 2px;
	  border-radius: 9px;
	  vertical-align: middle;b
	}

.p4spread { margin-left: 5px; margin-right: 5px; }

.p4raise { margin-top: -26px; }

#pageset { text-align: right; }

/* Zoom-menu CSS */

#p4Menu 	{ font-family: arial,sans-serif; padding: 0px; 
		  padding-left: 5px; padding-top: 5px; padding-bottom: 5px; }

#p4Menu p   	{ padding: 0px; margin-right: .25em; margin-left: 1.5em;
		  margin-bottom: 1px; margin-top: 1px; font-size: 80%; 
		  text-indent: -1.25em; }

#p4Menu h1,h2,h3,h4 { padding: 0px; margin: 0px; font-size: 80%; }

#p4Menu .h2	{ padding-top: 2px; padding-bottom: 2px; }

#p4Menu .level0 { margin-left: 0px;
		  padding-left: 5px; padding-top: 5px; 
		  padding-bottom: 5px; }
#p4Menu .level1 { margin-left: 5px; padding: 0px; }
#p4Menu .level2 { margin-left: 10px; padding: 0px; }
#p4Menu .level3 { margin-left: 15px; padding: 0px; }

#p4Menu .level1 p { margin-left: 15px; text-indent: -10px; }

/* Metadata table */

table.xmd { border-spacing: 0px; padding: 2px; width: 100%; }
table.xmd td { padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
.oddeven tr:nth-child(odd) { background-color: #ddd; }

body 	{ }

a 	{ text-decoration: none; }
