@import url(colour_nn.css);
@import url(p4cbd.css);

/* Structural/State-dependent CSS */

#p4Data 	{ display: flex; }
#p4Menu 	{ flex: 1 1 15%; border-right: solid lightgray 1px; }
#p4Content 	{ flex: 1 1 85%; }

#p4ItemXMD { display: inline; }

#p4ItemXTF { display: inline; }

#p4ItemSRCH { display: inline; }

.default #p4OSspecial { display: none; }
.special #p4OSdefault { display: none; }

.list .p4srchresults { display: none; }
.srch .p4srchresults { display: inline; }

.item .p4pages { display: none; }
.page .p4items { display: none; }


.via		{ display: none; }
.prox .via	{ display: inline; padding-left: 1em; font-weight: normal; color: gray; }

.page #p4ToggleMeta { display: none; }

#p4ToggleMeta { text-align: left; }

.rglo #p4CeType { display: none; }
.rcat #p4CeType { display: none; }

#p4Item		{ height: 100%; }
#p4Item.xtf 	{ display: flex; }

#p4ItemPrev	{ margin-left: 1em; }
#p4ItemNext	{ margin-right: 1em; }

.hide	{ display: none; }

#p4XtfMeta.hide	{ display: none; }

#p4XtfMeta { flex: 1 1 20%; display: inline-block; vertical-align: top;
	     border-right: solid lightgray 1px;
	     height: 85%; overflow-y: auto; }

#p4XtfData { flex: 1 1 80%; display: inline-block; vertical-align: top;
	     height: 85%; overflow-y: auto; }

#p4Translations { vertical-align: middle; }

.iart #p4Translations { display: none; }

#p4Zoom { display: none; }

.zoom #p4Zoom { display: inline; }

/* Formatting CSS */

html	{ height: 100%; }

body	{
    font-family: Ungkam, "Times New Roman", serif;
    margin-left: 2px; margin-right: 2px; margin-top: 0px; margin-bottom: 0px;
    height: 100%;
}

#p4Banner  { padding-left: 3px; padding-top: 5px; }

#p4Search  { text-align: center; margin-left: 15%; margin-top: -26px; margin-bottom: 10px; }

#p4SearchBar  { text-align: center; padding-top: 3px; }

#p4Controls { text-align: center; margin-left: 15%; padding-bottom: 5px; }

#p4HeadTitle {font-size: 100%;
	      font-family: Verdana, "Trebuchet MS", helvetica, sans-serif;
	      padding-left: 3px; padding-right: 3px; 
	      padding-top: 5px; padding-bottom: 5px; }

#p4HeadTitle a { color: white; text-decoration: none; }

#p4DropDown { padding-left: 3px; margin-top: -31px; padding-bottom: 5px; }

p	{ margin: 0; padding: 0; }

#p4Icons { width: 15%; text-align: center; display: inline-block; }

.p4icon { background-color: white; 
	  height: 15px; width: 15px;
	  border: 2px solid silver; 
	  padding: 2px;
	  border-radius: 9px;
	  vertical-align: middle;
	}

.p4icon:not(:first-child) { margin-left: 3px; }

.p4spread { margin-left: 3px; }

.p4raise { margin-top: -26px; }

#p4Pageset { text-align: center; }

#p4Debug { display: none; }

#p4Pager, #p4Data { height: 100%; }

#p4CExmdContent { height: 85%; overflow-y: auto; }

/* Zoom-menu CSS */

#p4MenuSorter	{ text-align: center; margin-top: -26px; margin-bottom: 5px; }

#p4MenuOutline 	{ font-family: arial,sans-serif; font-size: 80%;
		  padding-right: 5px; padding-left: 5px;
		  padding-top: 5px; padding-bottom: 5px;
		  height: 85%; overflow-y: auto;
		}

.zoomed { background-color: silver; }

#p4Menu p   	{ padding: 0px; margin-right: .25em; margin-left: 1.5em;
		  margin-bottom: 1px; margin-top: 1px;
		  text-indent: -1.25em; }

#p4Menu h1, #p4Menu h2, #p4Menu h3, #p4Menu h4 { padding: 0px; margin: 0px; font-size: 90%; }

#p4Menu .h2	{ padding-top: 2px; padding-bottom: 2px; }

#p4Menu .level0 { margin-left: 0px;
		  padding-left: 5px; padding-top: 5px; 
		  padding-bottom: 5px; }
#p4Menu .level1 { margin-left: 5px; padding: 0px; }
#p4Menu .level2 { margin-left: 10px; padding: 0px; }
#p4Menu .level3 { margin-left: 15px; padding: 0px; }

#p4Menu .level1 p { margin-left: 15px; text-indent: -10px; }

/* Metadata table */

table.xmd { border-spacing: 0px; padding: 2px; width: 100%; }
table.xmd td { padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
.oddeven tr:nth-child(odd) { background-color: #ddd; }

/* General CSS */

a         { text-decoration: none; }
a:link[href]    { color: blue; }
a:visited { color: #939; }
a img     { border: 0px; }
a[href]:hover   { color: white; background-color: red; text-decoration: underline; }
a[onclick]:hover   { color: white; background-color: red; }

.selected { background-color: #eee; }

span.error { background-color: red; color: white; }

p.search0 { margin: 3em; }

/* From oraccscreen.css, p3.css, p3cbd.css */

div.text { padding: 0px; padding-bottom: 10px; margin: 0px; }

span.lnum { display: none }

span.xlabel { font-family: arial,sans-serif; font-size: 70%; }

span.uncertain { font-style: italic; }

span.foreign { font-style: italic; }



/* CE CSS */

.ce-heading { padding: 0px; margin: 0px; margin-left: 2px; font-size: 80%; line-height: 90%; 
	      font-family: arial, sans-serif; margin-bottom: 2px;
	    }
.ce-label  { text-align: right; padding-top: 0px; margin-top: 0px; padding-right: 2px; }
.ce-result { text-align: left;  padding-bottom: 0px; margin-bottom: 0px;
	   padding-left: 3px; padding-right: 3px; }

table.kwic { width: 100%; }

/* CBD CSS */

#p4Letters p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 4px;
    text-align: center;
}

#p4Letters span {
    margin-left: 1em;
    margin-right: 1em;
}

.all-letters { text-decoration: underline; }

p.summary {
    margin-left: 1.1em;
    text-indent: -1em;
    margin-top: 3px;
    margin-bottom: 5px;
}
span.cf { font-size: 100%; }
span.gw { font-size: 80%; }
span.wr {
    font-family: arial, sans-serif;
    font-size: 90%;
}

/* Metadata headings */

.p3h2     { font-size: 100%; padding-top: 0px; margin-top: 0px; margin-left: 1px; }

/* Transliteration styling */

td { vertical-align: top; }

table.transliteration { border-spacing: 0px; width: 99%; }
table.composite { border-spacing: 0px; }

td.transliteration { width: 50%; vertical-align: top; }
td.translation { width: 50%; vertical-align: top; }

span.h2 { font-weight: bold; }
tr.h td { display: none; }

sub { font-style: normal; }
.r,.sux { font-style: normal; }
.akk { font-style: italic; }
.arc { font-style: italic; }
.egy { font-style: italic; }
.hit { font-style: italic; }
.hit-akk { font-style: normal; }
.hit-xhu { font-style: normal; }
span.sign { font-size: 90%; }

span.div { display: none; } /* WATCHME: this gets rid of 
			       milestone (obverse) etc. but does it also
			       get rid of things we should display? */

/* Translation styling */

.textonly .xtr { display: none; }

tr.hforce td.xtr-h1 { padding-left: .5em; font-weight: bold; padding-top: 6px; }
.xtr-h1 { border-left: 2px solid #777; padding-left: .5em; font-weight: bold; padding-top: 6px; }
.xtr-h2 { border-left: 2px solid #777; padding-left: .5em; font-style: italic; }
.xtr-h3 { border-left: 2px solid #777; padding-left: .5em; }
span.xtr-dollar { font-weight: normal; color: gray; vertical-align: super; }
span.xtr-label { font-weight: normal; font-size: 8pt; color: gray; vertical-align: super; }
td.xtf  { vertical-align: top; }
td[rowspan] { vertical-align: top; }

.transonly .lnum,
.transonly .tlit,
.transonly .nonlnum,
.transonly .nonlbody { display: none; }
.transonly .t1 { border: none; }

/* Legacy transliteration styling from oraccscreen.css */

td.c { padding-right: 1em; }
td.t1 { border-left: 2px solid #777; padding-left: .5em; padding-right: 1em; }
td.t2 { padding-right: 1em; }
td.c p { margin-left: 1em; text-indent: -1em; }
td.t1 p { margin-left: 1em; text-indent: -1em; }
td.t2 p { margin-left: 1em; text-indent: -1em; }

td { padding: 0px; }
td.lnum { padding-right: 1em; color: #777; text-align: right; }
td.enum { padding-right: 1em; color: #777; text-align: right; font-size: 80%; }
td.lnuml { padding-right: 1em; color: #777; text-align: left; width: 6rem; }
td>span.lnuml { padding-right: 1em; color: #777; text-align: left; font-size: 70%; }

tr.score-spacer td { padding-bottom: 1em; }

tr.e { font-size: 90%; }

tr.p1 td { width: 60%; }
tr.p1 td.lnum  { padding-right: 1em; color: #777; width: 10%; }
tr.p2 td { width: 48%; }
tr.p2 td.lnum  { padding-right: 1em; color: #777; width: 8%; }
tr.p3 td { width: 32%; }
tr.p3 td.lnum  { padding-right: 1em; color: #777; width: 7%; }
tr.p4 td { width: 25%; }
tr.p4 td.lnum  { padding-right: 1em; color: #777; width: 6%; }
tr.p5 td { width: 19%; }
tr.p5 td.lnum  { padding-right: 1em; color: #777; width: 5%; }
tr.p6 td { width: 15%; }
tr.p6 td.lnum  { padding-right: 1em; color: #777; width: 5%; }
tr.p7 td { width: 14%; }
tr.p7 td.lnum  { padding-right: 1em; color: #777; width: 5%; }
tr.p8 td { width: 11%; }
tr.p8 td.lnum  { padding-right: 1em; color: #777; width: 5%; }
tr.p9 td { width: 10%; }
tr.p9 td.lnum  { padding-right: 1em; color: #777; width: 4%; }
tr.p10 td { width: 9%; }
tr.p10 td.lnum  { padding-right: 1em; color: #777; width: 4%; }

.pc10 { width: 10%; }
.pc15 { width: 15%; }
.pc20 { width: 20%; }
.pc25 { width: 25%; }
.pc30 { width: 30%; }
.pc35 { width: 35%; }
.pc40 { width: 40%; }
.pc45 { width: 45%; }
.pc50 { width: 50%; }
.pc55 { width: 55%; }
.pc60 { width: 60%; }
.pc65 { width: 65%; }
.pc70 { width: 70%; }
.pc75 { width: 75%; }
.pc80 { width: 80%; }
.pc85 { width: 85%; }

span.noncl { color: gray; }

/* Notes support -- are all of notelink/marker/notemark used these days? */

.notelink,.marker { font-size: 9pt; vertical-align: super;
		    padding-left: .1em; padding-right: .1em;
		    background-color: black; color: white; }
.notemark { font-size: 9pt; vertical-align: super;
	    padding-left: .1em; padding-right: .1em; color: black; }

.note {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  background: #f8f8f8;
  color: #000;
  border: 2px inset #8e8e8e;
  border-radius: 10px;
  visibility: hidden;
  font-size: 10pt;
  font-weight: normal; 
  font-family: "Ungkam Basic",Serif;
  text-align: left;
  padding: 3px; margin: 0px;
  box-shadow: 4px 4px 2px #8f8f8f;
  line-height: 1.1rem;
}
